.App {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 20px;
}
.photos1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.photos2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
